{% extends "index.html" %}
{% block content %}

<!-- contact -->
<div class="about">
	<div class="container">

	<div class="about-top">
		<div class="col-md-3 about-left">
			<img src="../static/images/car.jpg" class="img-responsive" alt="">
		</div>
		<div class="col-md-5 about-right">
			
{#			<P>simply dummy text of the printing and publishing packages and web page top model text, and page editors now use Lorem Ipsum  'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </P>#}
            <p>恩施市金顺汽车租赁有限公司主要经营：null等产品。公司尊崇“踏实、拼搏、责任”的企业精神，并以诚信、共赢、开创经营理念，创造良好的企业环境，以全新的管理模式，完善的技术，周到的服务，卓越的品质为生存根本，我们始终坚持用户至上 用心服务于客户，坚持用自己的服务去打动客户。
                欢迎各位新老客户来我公司参观指导工作，我公司具体的地址是：湖北省恩施市学院路158号 。
</p>

            <div class="about-middle" style="padding: 0">
		<div class=" ab-lft">
{#			<h3>预订</h3>#}
{#			<P>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,book. It has survived not only five centuries, but also the leap into electronic typesetting </P>#}
				<ul>
                    <h3>恩施市金顺租车公司</h3>
					<li><a href="#"><span></span>点我租车</a></li>
{#					<li><a href="#"><span></span>I enjoy with my whole the release  simply </a></li>#}
{#					<li><a href="#"><span></span>Lorem Ipsum is the release  simply that it </a></li>#}
{#					<li><a href="#"><span></span>Sweet mornings of the release  simply spring</a></li>#}

				</ul>
		</div>
                </div>


		</div>
		<div class="clearfix"></div>
	</div>



	</div>
</div>
<!-- contact -->
<!-- footer -->
{% endblock %}