{% extends "index.html" %}
{% block content %}

<!-- contact -->
<div class="about">
	<div class="container">

	<div class="about-top">
		<div class="col-md-3 about-left">
			<img src="../static/images/larou.jpg" class="img-responsive" alt="">
		</div>
		<div class="col-md-5 about-right">
             <div class="about-middle" style="padding: 0">
		<div class=" ab-lft">
{#			<h3>预订</h3>#}
{#			<P>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,book. It has survived not only five centuries, but also the leap into electronic typesetting </P>#}
				<ul>
                    <h3>恩施熏肉</h3>
					<li><a href="#"><span></span>点我购买</a></li>
{#					<li><a href="#"><span></span>I enjoy with my whole the release  simply </a></li>#}
{#					<li><a href="#"><span></span>Lorem Ipsum is the release  simply that it </a></li>#}
{#					<li><a href="#"><span></span>Sweet mornings of the release  simply spring</a></li>#}

				</ul>
		</div>
                </div>
			
{#			<P>simply dummy text of the printing and publishing packages and web page top model text, and page editors now use Lorem Ipsum  'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </P>#}
            <p>每年冬腊月，便是土家人做腊肉的季节。生活在恩施地区的土家族、苗族人，一年四季均以腊肉款待客人。大多都爱吃腊肉，腊肉除了猪肉还包括腊鸡、腊鸭、腊鱼、腊肠等。 挂在火塘上用松柏、香蒿、黑桃树枝、柑橘皮、谷壳等闷烟火慢慢熏干，直到肉变成金黄，然后取下入库收藏，这样薰成的腊肉，可保二、三年不坏，而且放的越久，味道越香。 而今，土家人做出的腊肉，逐渐投向市场，各类酒楼、宾馆，餐饮都少不了腊肉这一道别有风味的美味佳肴。同时也是走亲访友、联络感情的最好礼物。
</p>




		</div>
		<div class="clearfix"></div>
	</div><br>
        <div class="about-top">
		<div class="col-md-3 about-left">
			<img src="../static/images/zhaguangjiao.jpg" class="img-responsive" alt="">
		</div>
		<div class="col-md-5 about-right">
             <div class="about-middle" style="padding: 0">
		<div class=" ab-lft">
{#			<h3>预订</h3>#}
{#			<P>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,book. It has survived not only five centuries, but also the leap into electronic typesetting </P>#}
				<ul>
                    <h3>恩施榨广椒</h3>
					<li><a href="#"><span></span>点我购买</a></li>
{#					<li><a href="#"><span></span>I enjoy with my whole the release  simply </a></li>#}
{#					<li><a href="#"><span></span>Lorem Ipsum is the release  simply that it </a></li>#}
{#					<li><a href="#"><span></span>Sweet mornings of the release  simply spring</a></li>#}

				</ul>
		</div>
                </div>

                  <p>恩施州境内的土家人特别酷爱酸辣。有“三日不吃酸和辣，心里就像猫儿抓”的民谚。在锅中焙熟后与土家腊肉一起炒食或作扣碗底料蒸食，成品色泽微红，酸辣味十分特别。还有用榨广椒做蒸肉、扣肉底料、伴料，这样做出来的蒸肉不油腻、爽口，易消化吸收。甚至用它与包谷面做成包谷糊喝，叫榨广椒糊，开胃爽口，增加食欲。</p>




		</div>
		<div class="clearfix"></div>
	</div><br>
        <div class="about-top">
		<div class="col-md-3 about-left">
			<img src="../static/images/yulu.jpg" class="img-responsive" alt="">
		</div>
		<div class="col-md-5 about-right">
             <div class="about-middle" style="padding: 0">
		<div class=" ab-lft">
{#			<h3>预订</h3>#}
{#			<P>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,book. It has survived not only five centuries, but also the leap into electronic typesetting </P>#}
				<ul>
                    <h3>恩施玉露</h3>
					<li><a href="#"><span></span>点我购买</a></li>
{#					<li><a href="#"><span></span>I enjoy with my whole the release  simply </a></li>#}
{#					<li><a href="#"><span></span>Lorem Ipsum is the release  simply that it </a></li>#}
{#					<li><a href="#"><span></span>Sweet mornings of the release  simply spring</a></li>#}

				</ul>
		</div>
                </div>

<p>恩施玉露属于绿茶，产于湖北恩施市南部的芭蕉乡及东郊五峰山，曾称“玉绿”，因其香鲜爽口，外形条索紧圆光滑，色泽苍翠绿润，毫白如玉，故改名“玉露”。具有抗氧化、提高免疫性、降血压、预防冠心病等功效。</p>




		</div>
		<div class="clearfix"></div>
	</div><br>





	</div>
</div>
<!-- contact -->
<!-- footer -->
{% endblock %}