{% extends "index.html" %}
{% block content %}

<!-- contact -->
<div class="about">
	<div class="container">
		<h2>利川国际大酒店</h2>
	<div class="about-top">
		<div class="col-md-5 about-left">
			<img src="../static/images/lichuan.jpg" class="img-responsive" alt="">
		</div>
		<div class="col-md-5 about-right">
			
{#			<P>simply dummy text of the printing and publishing packages and web page top model text, and page editors now use Lorem Ipsum  'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </P>#}
            <p>利川友谊宾馆地理位置优越，交通便捷。拥有多档次客房，客房配有空调、有线电视、24小时热水系统、互联网，是社会各界亲朋好友商务洽谈、休闲度假、宴会邀请的理想选择。我们贴心为宾客营造了一个理想的旅游度假居停之所，更致力于精心为每位客人提供一种无尽的生活享受。酒店设施齐全，为宾客带来各类人性化的贴心服务，用真诚和热情欢迎您的下榻光临。</p>

            <div class="about-middle">
		<div class="col-md-6 ab-lft">
			<h3>预订</h3>
{#			<P>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,book. It has survived not only five centuries, but also the leap into electronic typesetting </P>#}
				<ul>
					<li><a href="#"><span></span>预定链接</a></li>
{#					<li><a href="#"><span></span>I enjoy with my whole the release  simply </a></li>#}
{#					<li><a href="#"><span></span>Lorem Ipsum is the release  simply that it </a></li>#}
{#					<li><a href="#"><span></span>Sweet mornings of the release  simply spring</a></li>#}

				</ul>
		</div>
                </div>


		</div>
		<div class="clearfix"></div>
	</div>
	<div class="about-middle">
{#		<div class="col-md-6 ab-lft">#}
{#			<h3>预订</h3>#}
{#			<P>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,book. It has survived not only five centuries, but also the leap into electronic typesetting </P>#}
{#				<ul>#}
{#					<li><a href="#"><span></span>预定链接</a></li>#}
{#					<li><a href="#"><span></span>I enjoy with my whole the release  simply </a></li>#}
{#					<li><a href="#"><span></span>Lorem Ipsum is the release  simply that it </a></li>#}
{#					<li><a href="#"><span></span>Sweet mornings of the release  simply spring</a></li>#}
{#					#}
{#				</ul>#}
{#		</div>#}
{#		<div class="col-md-6 ab-rgt">#}
{#			<h3>How to get results!</h3>#}
{#			<P>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>#}
{#			<p> It has survived not only five centuries, but also the leap into electronic typesetting,  Lorem Ipsum has  Lorem Ipsum has been the industry's standard dummy text ever been the industry's standard dummy text ever remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets </P>#}
{#		</div>#}
		<div class="clearfix"></div>
	</div>
        <div class="about-bottom">
				<h4>其他酒店</h4>
				<ul>
					<li><img src="../static/images/10.jpg" class="img-responsive" alt=""></li>
					<li><img src="../static/images/11.jpg" class="img-responsive" alt=""></li>
					<li><img src="../static/images/12.jpg" class="img-responsive" alt=""></li>
					<li><img src="../static/images/10.jpg" class="img-responsive" alt=""></li>
					<div class="clearfix"> </div>
				</ul>
			</div>
	</div>
</div>
<!-- contact -->
<!-- footer -->
{% endblock %}