<!DOCTYPE HTML>
<html>
<head>
<title>中国恩施旅游|旅游攻略|恩施特产|恩施女儿会|尽在恩施旅游咨询网|恩施旅游咨询欢迎您</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Swimming Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/move-top.js"></script>
       <script type="text/javascript" src="../static/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
		<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
</head>





<body>
<!-- header -->
<div class="header">
<div class="container">
	<div class="logo">
		<div class="container">
			<a href="index.html"><img src="../static/images/logo.png" class="img-responsive" alt=""></a>
		</div>
	</div>
		<div class="top-nav">
			<span class="menu"><img src="../static/images/menu.png" alt=""></span>
			<ul class="nav1">
				<li class="hvr-sweep-to-bottom active" style="font-family: 微软雅黑"><a href="index.html">首页</a></li>
				<li class="hvr-sweep-to-bottom" style="font-family: 微软雅黑"><a href="hotel_lichuan.html">旅游攻略</a></li>
				<li class="hvr-sweep-to-bottom" style="font-family: 微软雅黑"><a href="lessons.html">门票购买</a></li>
				<li class="hvr-sweep-to-bottom" style="font-family: 微软雅黑"><a href="contact.html">驴友留言</a></li>
					<div class="clearfix"> </div>
			</ul>
					<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
						<!-- /script-for-menu -->
				</div>
				
			
{#	<div class="b-search">#}
{#		<form>#}
{#			<input type="text" value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}">#}
{#			<input type="submit" value="">#}
{#		</form>#}
{#	</div>#}
		<div class="clearfix"></div>
</div>
</div>
<!-- header -->
{% block content %}

		<div class="main">
		<div class="container">
                <!-- EIGHTH EXAMPLE -->
				<div class="col-md-3 bann-left">
					<div class="view view-eighth">
						<img src="../static/images/4.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2 style="font-family: 微软雅黑">腾龙洞</h2>
{#							<p style="font-family: 微软雅黑">景区总面积69平方公里，集山、水、洞、林于一体，以雄、险、奇、幽、秀而驰名中外。</p>#}
						</div>
					</div>
				</div>
				<div class="col-md-6 bann-right">
					<div class="view1 view-eighth">
						<img src="../static/images/1.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2 style="font-family: 微软雅黑">神农溪</h2>
{#							<p style="font-family: 微软雅黑"> 神农溪,发源于神农架主峰,流经湖北巴东县境内,由北向南穿行于深山峡谷之中,至巫峡口东汇入长江。</p>#}
						</div>
					</div>
				 </div>
				<div class="col-md-3 bann-left">
					<div class="view view-eighth">
						<img src="../static/images/14.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2 style="font-family: 微软雅黑">恩施大峡谷</h2>
{#							<p style="font-family: 微软雅黑">恩施大峡谷，位于世界硒都——湖北省恩施市境内，被专家赞誉可与美国科罗拉多大峡谷媲美 </p>#}
						</div>
					</div>
				 </div>
				<div class="col-md-6 bann-right">
					<div class="view1 view-eighth">
						<img src="../static/images/13.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2 style="font-family: 微软雅黑">恩施大峡谷</h2>
{#							<p style="font-family: 微软雅黑">恩施大峡谷，位于世界硒都——湖北省恩施市境内，被专家赞誉可与美国科罗拉多大峡谷媲美</p>#}
							
						</div>
					</div>
				 </div>
				 <div class="col-md-3 bann-left">
					<div class="view view-eighth">
						<img src="../static/images/3.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2 style="font-family: 微软雅黑">坪坝营</h2>
{#							<p style="font-family: 微软雅黑"> 坪坝营旅游区以古、奇、秀、幽、野等景致构成的浓郁原始气息为显著特色，是中西部连接最大的原始森林群落。</p>#}
						</div>
					</div>
				 </div>
				 <div class="col-md-3 bann-left">
					<div class="view view-eighth">
						<img src="../static/images/15.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2 style="font-family: 微软雅黑">恩施土司城</h2>
{#							<p style="font-family: 微软雅黑"> 属全国唯一一座规模最大、工程最宏伟、风格最独特、景观最靓丽的土家族地区土司文化标志性工程。</p>#}
						</div>
					</div>
				 </div>
            </div>
        </div>
</div>
<!-- header -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<!-- instructors -->
<div class="instructors">
	<div class="container">
		<div class="col-md-4 instru-left">
			<h3 style="font-family: 微软雅黑">旅游攻略</h3>
			<div class="inst-top">
				<div class="ins-lef">
					<img src="../static/images/13_2.jpg" class="img-responsive" alt="" />
				</div>
				<div class="ins-righ" style="font-size: 12px">
					<h4  >恩施大峡谷</h4>
					<p> 位于世界硒都——湖北省恩施市境内，被专家赞誉可与美国科罗拉多大峡谷媲美 </p>
				</div>
					<div class="clearfix"></div>
			</div>
			<div class="inst-top1">
				<div class="ins-lef">
					<img src="../static/images/4_2.jpg" class="img-responsive" alt="" />
				</div>
				<div class="ins-righ" style="font-size: 12px">
					<h4 >腾龙洞</h4>
					<p>景区总面积69平方公里，集山、水、洞、林于一体，以雄、险、奇、幽、秀而驰名中外。 </p>
				</div>
					<div class="clearfix"></div>
			</div>
			<div class="inst-top2">
				<div class="ins-lef">
					<img src="../static/images/15_2.jpg" class="img-responsive" alt="" />
				</div>
				<div class="ins-righ" style="font-size: 12px">
					<h4 >土司城</h4>
					<p> 属全国唯一一座规模最大、工程最宏伟、风格最独特、景观最靓丽的土家族地区土司文化标志性工程。 </p>
				</div>
					<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-8 instru-right">
			<div class="training">
				<div class="tra-left">
					<img src="../static/images/9.jpg" class="img-responsive" alt="" />
				</div>
				<div class="tra-right">
					<h3 style="font-family: 微软雅黑">推荐路线</h3>
					<h5>恩施到利川腾龙洞一日游 </h5>
{#					<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many</p>#}
                    <p>腾龙洞风景名胜区，是国家地质公园，距湖北利川市城区6公里，景区总面积69平方公里，集山、水、洞、林于一体，以雄、险、奇、幽、秀而驰名中外。该洞洞口高74米，宽64米，洞内最高处235米，初步探明洞穴总长度52.8公里，其中水洞伏流16.8公里，洞穴面积200多万平方米。</p>
				</div>
					<div class="clearfix"></div>
			</div>
			<div class="sructs">
				<h6 style="font-family: 微软雅黑">著名景点</h6>
				<li><img src="../static/images/10.jpg" class="img-responsive" alt="" /></li>
				<li><img src="../static/images/11.jpg" class="img-responsive" alt="" /></li>
				<li><img src="../static/images/12.jpg" class="img-responsive" alt="" /></li>
			</div>
		</div>
			<div class="clearfix"></div>
	</div>
</div>
<!-- instructors -->
<!-- have -->	
<div class="container">
	<div class="have">
{#	<h3>Services</h3>#}
		<div class="col-md-4 have-left">
            <img src="../static/images/5.jpg" class="img-responsive" alt="">

		</div>
		<div class="col-md-4 have-middle">
			<h4>旅游资讯</h4>
			<ul>
					<li><a href="#"><span></span>利川腾龙洞景区2016年国庆假期门票以及表演时间最新资讯</a></li>
					<li><a href="#"><span></span>国庆假期恩施大峡谷两日游路线推荐 </a></li>
					<li><a href="#"><span></span>恩施土司城景区介绍及旅游攻略</a></li>
					<li><a href="#"><span></span>巴东神龙溪景区介绍及旅游攻略 </a></li>
					<li><a href="#"><span></span>利川腾龙洞景区介绍及旅游攻略  </a></li>
					<li><a href="#"><span></span>恩施大峡谷景区介绍及旅游攻略</a></li>
				</ul>
		</div>
		<div class="col-md-4 have-left">
            <ul>
					<li><a href="#"><span></span>三峡特色小吃：一边吃一边看</a></li>
{#					<li><a href="#"><span></span>国庆假期恩施大峡谷两日游路线推荐 </a></li>#}
{#					<li><a href="#"><span></span>恩施土司城景区介绍及旅游攻略</a></li>#}
{#					<li><a href="#"><span></span>巴东神龙溪景区介绍及旅游攻略 </a></li>#}
{#					<li><a href="#"><span></span>利川腾龙洞景区介绍及旅游攻略  </a></li>#}
{#					<li><a href="#"><span></span>恩施大峡谷景区介绍及旅游攻略</a></li>#}
				</ul>
		</div>
			<div class="clearfix"></div>
	</div>
</div>
<!-- have -->
<!-- have -->
<div class="container">
<div class="feature-top">
<div class="col-md-1"></div>
				<div class="col-md-2 service-left">
					<img src="../static/images/4.png" class="img-responsive" alt="">
					<a href="hotel_lichuan.html"><h4>酒店预订</h4></a>

				</div>
				<div class="col-md-2 service-left">
					<img src="../static/images/3.png" class="img-responsive" alt="">
					<a href="ticket.html"><h4>门票预订</h4></a>

				</div>
{#    <div class="col-md-1"></div>#}
				<div class="col-md-2 service-left">

                    <img src="../static/images/1.png" class="img-responsive" alt="">
					<a href="car.html"> <h4>租车服务</h4></a>
						</div>
{#     <div class="col-md-1"></div>#}
				<div class="col-md-2 service-left">
					<img src="../static/images/2.png" class="img-responsive" alt="">
					<a href="village.html"><h4>农家乐</h4></a>
						</div>
                <div class="col-md-2 service-left">
					<img src="../static/images/5.png" class="img-responsive" alt="">
					<a href="eat.html"><h4>恩施美食</h4></a>
					</div>
					<div class="clearfix"> </div>
    <div class="col-md-1"></div>
			</div>
</div>
<!-- have -->

{% endblock %}




<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-4 soci">
			<h3>友情链接</h3>
{#			<p>Find us on these social network sites</p>#}
{#					<ul>#}
{#						<li><a href="#"><i class="facebk"> </i></a></li>#}
{#						<li><a href="#"><i class="twter"> </i></a></li>#}
{#						<li><a href="#"><i class="goopl"> </i></a></li>#}
{#						<li><a href="#"><i class="insta"> </i></a></li>#}
{#							<div class="clearfix"></div>	#}
{#					</ul>#}
			
		</div>
		<div class="col-md-8 footer-left">
			<h3>联系我们</h3>

		</div>
{#		<div class="col-md-4 footer-left">#}
{#				<h3>News letter</h3>#}
{#				<div class="name">#}
{#					<form>#}
{#						<input type="text" placeholder="Enter email id" required="">#}
{#					</form>#}
{#				</div>#}
{#				<div class="button">#}
{#					<form>#}
{#						<input type="submit" value="Subscribe">#}
{#					</form>#}
{#				</div>#}
{#					<div class="clearfix"> </div>#}
{#			#}
{#		</div>#}
			<div class="clearfix"> </div>
			<div class="foot-bottom">
				<p>©2014 恩施旅游咨询网 版权所有　如发现本站有侵权行为，请与我们联系处理<a href="" target="_blank" title="模板之家">恩施锦程自由行</a>
                <p>欢迎各位驴友光临，旅游咨询电话：15927618224</p>

			</div>
	</div>
</div>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 0;"> </span></a>
<!-- footer -->
</body>
</html>