{% extends "index.html" %}
{% block content %}

<!-- contact -->
<div class="about">
	<div class="container">

	<div class="about-top">
		<div class="col-md-3 about-left">
			<img src="../static/images/shuishangrenjia.jpg" class="img-responsive" alt="">
		</div>
		<div class="col-md-5 about-right">
			
{#			<P>simply dummy text of the printing and publishing packages and web page top model text, and page editors now use Lorem Ipsum  'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </P>#}
            <p>水上人家位于风景秀丽的恩施市车坝水库，是集养鱼、钓鱼、吃鱼、娱乐于一体的农家休闲场所，于2002年投入30万元开始网箱养鱼，2006年投入30万元开始餐馆及水上娱乐项目，这里依山傍水、花木葱茏，清幽宁静，是城市人放松心情，缓解工作压力，感受田园风光，融入大自然的理想去处。
</p>

            <div class="about-middle" style="padding: 0">
		<div class=" ab-lft">
{#			<h3>预订</h3>#}
{#			<P>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,book. It has survived not only five centuries, but also the leap into electronic typesetting </P>#}
				<ul>
                    <h3>水上人家农家乐</h3>
					<li><a href="#"><span></span>点我预订</a></li>
{#					<li><a href="#"><span></span>I enjoy with my whole the release  simply </a></li>#}
{#					<li><a href="#"><span></span>Lorem Ipsum is the release  simply that it </a></li>#}
{#					<li><a href="#"><span></span>Sweet mornings of the release  simply spring</a></li>#}

				</ul>
		</div>
                </div>


		</div>
		<div class="clearfix"></div>
	</div>



	</div>
</div>
<!-- contact -->
<!-- footer -->
{% endblock %}